<main id="about-container" class="container-fluid">
	<section id="video-section" class="container-fluid bg-trans">
		<div class="container">
			<div class="row">
				<div id="vibe-container" class="col-xs-12 col-lg-6">
					<h1 class="section-heading">About Us</h1>
					<video id="vibe-video" class="embedded-item" controls preload="metadata">
						<source src="/videos/production_ID_4367580.mp4" type="video/mp4">
						Sorry, your browser doesn't support embedded videos.
					</video>
				</div>
				<div id="about-header" class="col-xs-12 col-lg-6">
					<p class="section-content">Volition By Fikaa has been a pillar of the community for over a decade, helping to support and guide our local whanau.</p>
					<p class="section-content">Our team are committed to providing a clean, safe and welcoming environment where everyone feels a part of their club. We work closely with our members to help them achieve their goals and provide on-going support to maintain these results.</p>
					<p class="section-content">Each trainer has a wide range of expertise and life experiences which are invaluable skills when working with others. We share a passion for helping others create a healthy, balanced and sustainable lifestyle.</p>
					<p class="section-content">The team all practice what they preach and stand behind the Volition meaning… “Exercise your will power to achieve the results you desire”</p>
					<p class="section-content"><a class="link" href="#">--- LEARN MORE</a></p>
				</div>
			</div>
		</div>
	</section>
	<section id="features-section" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="features-item col-xs-12 col-md-6 col-lg-4">
					<i class="icon fa-solid fa-clock"></i>
					<h4 class="feature-title">Open 24/7</h4>
					<p class="feature-content">Work towards your goals at the best gym in Manukau at your flexibility and your terms.</p>
				</div>
				<div class="features-item col-xs-12 col-md-6 col-lg-4">
					<i class="icon fa-solid fa-heart"></i>
					<h4 class="feature-title">Best Trainers</h4>
					<p class="feature-content">Our trainers range from weightlifting gold medalists to nutrition experts and will be able to motivate you to achieve your goals.</p>
				</div>
				<div class="features-item col-xs-12 col-md-6 col-lg-4">
					<i class="icon fa-solid fa-dumbbell"></i>
					<h4 class="feature-title">Great facilities</h4>
					<p class="feature-content">700sqm gym with large open high stud area, free weights, fitness rooms overflow room, stretching area.</p>
				</div>
				<div class="features-item col-xs-12 col-md-6 col-lg-4">
					<i class="icon fa-solid fa-bolt"></i>
					<h4 class="feature-title">Motivated Training Environment</h4>
					<p class="feature-content">We welcome anyone at any level of fitness and our trainers are happy to give professional and free advice to help you out.</p>
				</div>
				<div class="features-item col-xs-12 col-md-6 col-lg-4">
					<i class="icon fa-solid fa-music"></i>
					<h4 class="feature-title">Awesome Music</h4>
					<p class="feature-content">From US hits to local hip hop, our music will give you maximum motivation.</p>
				</div>
				<div class="features-item col-xs-12 col-md-6 col-lg-4">
					<i class="icon fa-solid fa-square-parking"></i>
					<h4 class="feature-title">Easy Car Parking</h4>
					<p class="feature-content">We have ample parking space in the complex so no worries there.</p>
				</div>
			</div>
		</div>
	</section>
	<section id="about-socials-section" class="container-fluid bg-trans">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<a href="#"><i class="social-icon fa-brands fa-facebook"></i></a>
					<p class="socials-content"><a class="link" href="#">facebook.com/volition.nz</a></p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="#"><i class="social-icon fa-brands fa-instagram"></i></a>
					<p class="socials-content"><a class="link" href="#">instagram.com/volition.nz</a></p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<a href="#"><i class="social-icon fa-brands fa-tiktok"></i></a>
					<p class="socials-content"><a class="link" href="#">@volitionnz</a></p>
				</div>
			</div>
		</div>
	</section>
</main>
