<main id="classes-container">
	<header id="classes-heading-section" class="container-fluid bg-trans">
		<h1 class="classes-heading section-heading">Our Classes</h1>
		<p class="classes-subheading section-subheading">Come see the team on how you can get involved in our classes! These are a great way to make connections and increase accountability.</p>
		<p class="section-content"><a class="link" href="#classes-list-section">--- CHECK OUT OUR CLASSES</a></p>
	</header>
	<section id="classes-list-section" class="container-fluid bg-trans-75">
		<!-- <h3 class="section-heading">BOOK A CLASS NOW</h3> -->
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
					<h2 class="section-heading">Book a Class now</h2>
					<p class="section-subheading"><em>*Hover your cursor over the class items for their respective details.</em></p>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/man-and-woman-holding-battle-ropes.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">DOMINATE CIRCUIT</p>
							<p class="classes-description">45min HIIT Circuit Class</p>
							<ul class="schedule-list">
								<li>6.00am MONDAY</li>
								<li>6.00am TUESDAY</li>
								<li>6.00am WEDNESSDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/person-holding-barbell.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">SHAPE ME UP</p>
							<p class="classes-description">60min Medium Intensity Workout</p>
							<ul class="schedule-list">
								<li>6.00pm MONDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/man-doing-boxing.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">GLOZIER BOXFIT</p>
							<p class="classes-description">60min Boxfit Class</p>
							<ul class="schedule-list">
								<li>6.30pm TUESDAY</li>
								<li>6.30pm THURSDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/photo-of-women-doing-squats.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">BOOTY BUILD</p>
							<p class="classes-description">45min All About The Booty (BYO Mat and Booty Band)</p>
							<ul class="schedule-list">
								<li>5.30pm TUESDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/banner-pexels-william-choquette.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">LET'S GET MOVING</p>
							<p class="classes-description">60min Medium/High Intensity Workout</p>
							<ul class="schedule-list">
								<li>6.00pm WEDNESDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/man-doing-pushup.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">MOBIFLEX</p>
							<p class="classes-description">45min Mobility Class (BYO Mat)</p>
							<ul class="schedule-list">
								<li>5.30pm THURSDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/man-working-out.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">KICKSTART</p>
							<p class="classes-description">60min HIIT Circuit Class</p>
							<ul class="schedule-list">
								<li>7.00am SATURDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6 col-xl-4">
					<div class="classes-item bg-trans-90">
						<div class="wrapper">
							<img class="classes-img" src="/images/woman-lifting-barbell.jpg" alt="">
						</div>
						<div class="slide-in">
							<p class="classes-title">STRONG</p>
							<p class="classes-description">60min Ladies Strength Class</p>
							<ul class="schedule-list">
								<li>10.00am SATURDAY</li>
							</ul>
							<a class="book-classes-button" href="#">BOOK CLASS</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
