<footer id="contacts-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-3 con-sec">
				<h6 class="con-title">Our Location</h6>
				<p class="con-contents">
					273 West Coast Road<br />
					Glen Eiden,<br />
					Auckland, 0602
				</p>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 con-sec">
				<h6 class="con-title">Contact Us</h6>
				<p class="con-contents">
					<i class="fa-solid fa-envelope"></i> volition@fikaa.nz <br />
					<i class="fa-solid fa-phone"></i> 09 818 3370 <br>
					<i class="fa-solid fa-phone"></i> Ayden / 021 199 3649
				</p>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 con-sec">
				<h6 class="con-title">Staffed Hours</h6>
				<p class="con-contents">
					<i class="fa-solid fa-clock"></i> Mon-Sat 9am-12pm <br>
					<i class="fa-solid fa-clock"></i> Mon-Thu 4pm-7pm
				</p>
			</div>
			<div class="col-xs-12 col-md-6 col-lg-3 con-sec">
				<h6 class="con-title">Follow Us</h6>
				<p class="con-contents">
					<a href="https://www.facebook.com/volition.nz"><i class="fa-brands fa-facebook"></i> facebook.com/volition.nz</a>
					<br>
					<a href="https://www.instagram.com/volition.nz"><i class="fa-brands fa-instagram"></i> instagram.com/volition.nz</a>
					<br>
					<a href="#"><i class="fa-brands fa-tiktok"></i> @volitionnz</a>
				</p>
			</div>
		</div>
	</div>
</footer>
