<main id="home-container" class="container-fluid bg-trans">
	<section id="banner-section" class=".flexbox bg-trans">
		<h2 class="banner-heading">Lorem ipsum dolor</h2>
		<p class="banner-subheading">Vestibulum pretium nisi blandit metus iaculis, et bibendum nisi consequat. Pellentesque porta purus turpis, at pulvinar arcu ultricies id. Vivamus tortor neque, ultricies et eleifend non, euismod nec ligula.</p>
		<div class="btn-container">
			<button id="banner-btn" class="cta-button" type="button">
				<a class="" href="#">
				JOIN US
				</a>
			</button>
		</div>
	</section>
	<section id="testimonial-section">
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item container-fluid active">
					<h3 class="testimonial-text">"Praesent semper, ipsum sit amet semper lobortis, velit sapien tristique velit, in ultricies sapien erat ac magna."</h3>
					<div class="profile">
						<div class="profile-image">
							<img class="testimonial-image" src="/images/profile-1-pixabay.jpg" alt="Rachel Pebbles">
						</div>

						<em>Rachel Pebbles</em>
					</div>
				</div>
				<div class="carousel-item container-fluid">
					<h3 class="testimonial-text">"Etiam vitae mi vel magna porta lobortis nec at purus. Integer sit amet eros sem."</h3>
					<div class="profile">
						<div class="profile-image">
							<img class="testimonial-image" src="/images/profile-2-pixabay.jpg" alt="Second slide">
						</div>

						<em>Rocky Newman</em>
					</div>
				</div>
				<div class="carousel-item container-fluid">
					<h3 class="testimonial-text">"Nunc sagittis lobortis nibh, sit amet vehicula arcu ultricies pretium. Nulla fermentum nisl nec leo rhoncus venenatis."</h3>
					<div class="profile">
						<div class="profile-image">
							<img class="testimonial-image" src="/images/profile-3-pixabay.jpg" alt="Third slide">
						</div>
						<em>Jack Smith</em>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
				<i class="fa-solid fa-chevron-left"></i>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
				<i class="fa-solid fa-chevron-right"></i>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>

	<section id="contacts-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-4 con-sec">
					<h5 class="con-title">Our Location</h5>
					<p class="con-contents">
						273 West Coast Road<br />
						Glen Eiden,<br />
						Auckland, 0602
					</p>
				</div>
				<div class="col-xs-6 col-sm-4 con-sec">
					<h5 class="con-title">Contact Us</h5>
					<p class="con-contents">
						<i class="fa-solid fa-envelope"></i> volition@fikaa.nz <br />
						<i class="fa-solid fa-phone"></i> 09 818 3370 <br>
						Ayden / 021 199 3649
					</p>
				</div>
				<div class="col-xs-6 col-sm-4 con-sec">
					<h5 class="con-title">Staffed Hours</h5>
					<p class="con-contents">
						Mon-Sat 9am-12pm <br>
						Mon-Thu 4pm-7pm
					</p>
				</div>
			</div>
		</div>
	</section>
</main>
