<main id="home-container" class="container-fluid">
	<section id="banner-section" class=".flexbox bg-trans">
		<h1 class="banner-heading section-heading">Join the V-Team</h1>
		<p class="section-subheading">Welcome to Glen Eden’s best 24 hrs fitness gym where we’re commited to helping you to become the best you since 2006</p>
		<p class="banner-subheading section-subheading">Please check our <a class="link" href="https://www.facebook.com/volition.nz">Facebook</a> for latest announcements and events.</p>
		<div class="btn-container">
			<a id="banner-btn" class="cta-button" type="button" href="#">
				JOIN US
			</a>
		</div>
	</section>
	<section id="testimonial-section" class="container-fluid bg-trans-90">
		<div class="container">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<h3 class="testimonial-heading">What the others are saying:</h3>
				<div class="carousel-inner">
					<div class="carousel-item container-fluid nice-padding active">
						<p class="testimonial-text">"Praesent semper, ipsum sit amet semper lobortis, velit sapien tristique velit, in ultricies sapien erat ac magna."</p>
						<div class="profile">
							<div class="profile-image">
								<img class="testimonial-image" src="/images/profile-1-pixabay.jpg" alt="Rachel Pebbles">
							</div>

							<em>Rachel Pebbles</em>
						</div>
					</div>
					<div class="carousel-item container-fluid nice-padding">
						<p class="testimonial-text">"Vestibulum pretium nisi blandit metus iaculis, et bibendum nisi consequat. Pellentesque porta purus turpis, at pulvinar arcu ultricies id. Vivamus tortor neque, ultricies et eleifend non, euismod nec ligula. Vivamus gravida purus sit amet felis condimentum aliquet. Sed id auctor urna."</p>
						<div class="profile">
							<div class="profile-image">
								<img class="testimonial-image" src="/images/profile-2-pixabay.jpg" alt="Second slide">
							</div>

							<em>Rocky Newman</em>
						</div>
					</div>
					<div class="carousel-item container-fluid nice-padding">
						<p class="testimonial-text">"Suspendisse vulputate cursus velit vitae aliquam. Vivamus aliquam arcu eu massa interdum, vitae vulputate arcu dignissim. Duis dictum tempor pretium."</p>
						<div class="profile">
							<div class="profile-image">
								<img class="testimonial-image" src="/images/profile-3-pixabay.jpg" alt="Third slide">
							</div>
							<em>Jack Smith</em>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
					<i class="fa-solid fa-chevron-left"></i>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
					<i class="fa-solid fa-chevron-right"></i>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</section>


</main>
