<nav id="fixed-navbar" class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/images/volition_transparent_cropped.png" alt="" class="d-inline-block align-text-bottom" id="brand-image">
		</a>

		<div id="signup-wrapper" class="d-flex">
			<a id="signup-btn" class="nav-link cta-button" href="#">
					SIGN-UP ONLINE
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      		<i class="fas fa-bars"></i>
    	</button>

		<div class="collapse navbar-collapse me-auto" id="navbarNav">
			<ul class="navbar-nav text-right ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/classes">Classes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="services">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/team">Our Team</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fa-brands fa-tiktok"></i></></a>
				</li>
			</ul>
		</div>

	</div>
</nav>
