<nav id="fixed-navbar" class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="/images/volition_transparent_cropped.png" alt="" class="d-inline-block align-text-bottom" id="brand-image">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      		<i class="fas fa-bars"></i>
    	</button>
		<div class="d-flex">
			<a class="nav-link" href="#">
				<button id="signupBtn" class="cta-button" type="button">
					SIGN-UP ONLINE
				</button>
			</a>
		</div>
		<div class="collapse navbar-collapse me-auto" id="navbarNav">
			<ul class="navbar-nav text-right ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About Us</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Classes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Our Team</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fa-brands fa-facebook"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#"><i class="fa-brands fa-tiktok"></i></></a>
				</li>
			</ul>
		</div>

	</div>
</nav>
