<main id="services-container">
	<header id="services-heading-section" class="container-fluid bg-trans">
		<h1 class="section-heading">OUR SERVICES</h1>
	</header>
	<section id="services-offering-section" class="container-fluid bg-trans">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-4">
					<div class="offering-item bg-trans-75">
						<h5 class="offering-title">FITNESS 12 MONTHS+</h5>
						<ul class="offering-features">
							<li>24/7 access</li>
							<li>Unlimited access to group classes</li>
							<li>Full gym induction</li>
							<li>Personal training consultation</li>
							<li>Nutritional plans</li>
							<li>Use of full gym, boxing ring, fitness rooms and saunas</li>
							<li>Free PT advice to help you on your fitness journey</li>
						</ul>
						<a class="offering-button" href="#">JOIN NOW</a>
					</div>
				</div>
				<div class="col-xs-12 col-lg-4">
					<div class="offering-item bg-trans-75">
						<h5 class="offering-title">FITNESS 6 MONTHS+</h5>
						<ul class="offering-features">
							<li>24/7 access</li>
							<li>Unlimited access to group classes</li>
							<li>Full gym induction</li>
							<li>Personal training consultation</li>
							<li>Nutritional plans</li>
							<li>Use of full gym, boxing ring, fitness rooms and saunas</li>
							<li>Free PT advice to help you on your fitness journey</li>
						</ul>
						<a class="offering-button" href="#">JOIN NOW</a>
					</div>
				</div>
				<div class="col-xs-12 col-lg-4">
					<div class="offering-item bg-trans-75">
						<h5 class="offering-title">FITNESS OPEN TERM</h5>
						<ul class="offering-features">
							<li>24/7 access</li>
							<li>Access to group fitness classes</li>
							<li>Full gym induction</li>
							<li>Use of full gym boxing ring, fitness rooms and saunas</li>
							<li>Flexibility to cancel with 30-day notice</li>
						</ul>
						<a class="offering-button" href="#">JOIN NOW</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
