<main id="team-container">
	<section id="team-heading-section" class="container-fluid bg-trans">
		<h1 class="section-heading">OUR TEAM</h1>
	</section>
	<section id="team-listing-section" class="container-fluid bg-trans">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-6 col-xl-4">
					<div class="team-item bg-trans-75">
						<div class="wrapper">
								<img class="team-img" src="/images/woman-standing-with-an-exercise-ball.jpg" alt="">
						</div>
						<div class="team-brief">
							<h5 class="team-name">Veronica Shultz</h5>
							<h6 class="team-spec">Yoga and Calisthenics Instructor</h6>
							<p class="team-desc">Quisque volutpat scelerisque malesuada. Mauris at sollicitudin lectus, quis lacinia massa. Sed pulvinar enim ac tellus gravida cursus. Nullam nec vulputate nisi, ut iaculis mauris. Fusce feugiat et lectus at commodo. Nunc luctus justo enim, in dignissim velit cursus a. Etiam facilisis dictum ex. Suspendisse lacinia arcu nec mi auctor congue. Aenean a ante justo. Praesent a purus lacinia diam porttitor luctus.</p>
							<a class="team-book-button" href="">Book a time with me</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6 col-xl-4">
					<div class="team-item bg-trans-75">
						<div class="wrapper">
								<img class="team-img" src="/images/woman-hanging-on-gym-equipment-on-focus-photo.jpg" alt="">


						</div>
						<div class="team-brief">
							<h5 class="team-name">Jennifer Coles</h5>
							<h6 class="team-spec">Nutritionist, Weight lifter</h6>
							<p class="team-desc">Nunc sagittis lobortis nibh, sit amet vehicula arcu ultricies pretium. Nulla fermentum nisl nec leo rhoncus venenatis. Phasellus pulvinar quam ac nisl fringilla rhoncus. Proin commodo vitae nisi ac semper. Curabitur finibus elementum hendrerit. Duis auctor, lorem ut tempor ultrices, tellus diam iaculis elit, at ultricies eros sapien quis ligula. Donec imperdiet, elit ac lobortis ullamcorper, ipsum eros mattis orci, sit amet accumsan mi sapien eget sem. Nullam ante neque, venenatis ac ante porttitor, porta pulvinar ante. In in odio nec odio rutrum luctus.</p>
							<a class="team-book-button" href="">Book a time with me</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-lg-6 col-xl-4">
					<div class="team-item bg-trans-75">
						<div class="wrapper">
								<img class="team-img" src="/images/man-holding-barbell.jpg" alt="">
						</div>
						<div class="team-brief">
							<h5 class="team-name">Jeremy Holland</h5>
							<h6 class="team-spec">Professional Body Builder</h6>
							<p class="team-desc">Vestibulum nulla odio, cursus a eros in, vestibulum molestie sem. Phasellus dignissim pellentesque erat vitae vulputate. Phasellus non feugiat odio. Nullam eu ullamcorper quam. Etiam sed malesuada libero, ac varius augue. Quisque in vehicula sem. Fusce mollis nibh sit amet ultricies pellentesque. Sed ac suscipit purus. Sed rhoncus, nibh pharetra maximus porta, nibh dui congue diam, vel ultricies augue turpis et augue. Nulla ut ipsum felis.</p>
							<a class="team-book-button" href="">Book a time with me</a>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-lg-6 col-xl-4">
					<div class="team-item bg-trans-75">
						<div class="wrapper">
								<img class="team-img" src="/images/photo-of-woman-wearing-red-boxing-gloves.jpg" alt="">
						</div>
						<div class="team-brief">
							<h5 class="team-name">Alexa Gonzales</h5>
							<h6 class="team-spec">Boxing Coach and Fitness Expert</h6>
							<p class="team-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rhoncus viverra ante sed euismod. Suspendisse ex mauris, rhoncus at tellus vitae, sagittis gravida tellus. Aenean eget diam vel urna commodo accumsan. In tempor laoreet tellus, ut efficitur odio sollicitudin nec. Integer vel finibus urna. Phasellus ut placerat ligula. Morbi mattis nec augue ut suscipit. Integer posuere magna gravida augue sollicitudin finibus. Aliquam leo nulla, aliquet sed bibendum quis, mollis ut quam. Nunc accumsan, risus sed mollis vulputate, elit nisl fringilla erat, eget blandit risus lectus a massa. Phasellus et varius mi, ac luctus neque. Phasellus eu urna efficitur, egestas est eget, suscipit ligula. Aenean tristique lorem at sapien pellentesque, quis accumsan nibh consectetur. Sed at tortor molestie, gravida lorem ut, vehicula tortor. Maecenas placerat efficitur nulla vel dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
							<a class="team-book-button" href="">Book a time with me</a>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-lg-6 col-xl-4">
					<div class="team-item bg-trans-75">
						<div class="wrapper">
								<img class="team-img" src="/images/man-wearing-boxing-gloves.jpg" alt="">
						</div>
						<div class="team-brief">
							<h5 class="team-name">John Goldoroy</h5>
							<h6 class="team-spec">Boxing Coach & Conditioning Expert</h6>
							<p class="team-desc">Nulla eu vulputate metus, non aliquam mauris. Etiam tincidunt in est non facilisis. Quisque id ornare lectus. Fusce ac lacus tortor. Cras elementum nulla risus, id maximus libero dictum cursus. Pellentesque vestibulum rhoncus tempus. Nullam sagittis tristique est, nec luctus dolor ultrices ac. Cras pulvinar libero est, vitae fermentum nibh lobortis eget. Praesent ac mauris sit amet leo ornare commodo. Donec vitae tincidunt turpis. </p>
							<a class="team-book-button" href="">Book a time with me</a>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-lg-6 col-xl-4">
					<div class="team-item bg-trans-75">
						<div class="wrapper">
								<img class="team-img" src="/images/photo-of-woman-lifting-two-dumbbells.jpg" alt="">
						</div>
						<div class="team-brief">
							<h5 class="team-name">Bianca Solmenarez</h5>
							<h6 class="team-spec">Fitness Coach and Fitness Model</h6>
							<p class="team-desc">Vestibulum vel pulvinar erat. Proin vel neque at odio pharetra pretium vitae id felis. Nulla blandit, nulla nec faucibus vehicula, orci quam tempus metus, vel pretium ante ligula non turpis. Vivamus sit amet scelerisque lorem. Fusce vehicula sodales varius. Nunc ac venenatis lacus. Nunc vehicula commodo turpis, quis sollicitudin nisi varius sit amet. Sed vestibulum purus metus, bibendum cursus felis pulvinar eu. Morbi maximus ultricies est, eu ultricies tortor rutrum in. Etiam posuere purus vel ex imperdiet pellentesque.</p>
							<a class="team-book-button" href="">Book a time with me</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</main>
