

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'Ubuntu', sans-serif;
}

p {
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	color: #F55000;
	font-weight: 700;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

button {
	display: inline-block
}

a {
	text-decoration: none;
}

/**************************
* NAVBAR
**************************/
#fixed-navbar {
	background: rgba(0, 0, 0, 0.55);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 90;
}

.navbar-brand {
	width: 25%;
}

#brand-image {
	width: 100%;
}

#navbarNav {
	margin-top:1.2rem;
}



.cta-button {
	display: block;
	text-align: center;
	border: 0;
	background-color: #F55000;
	color: #FFFFFF;
	font-size: 1rem;
	font-weight: 600;
	/* margin:auto 0.3em auto; */
	padding: 0.8rem;
	border-radius: 50px;
}

.cta-button:hover {
	background-color: #FFFFFF;
	color: #F55000;
}

#signup-wrapper {
	margin-left: auto;
}

.navbar #signup-btn {
	padding: 0.7rem;
	font-size: 0.8rem;
}

#signup-btn:hover {
	background-color: #FFFFFF;
	color: #F55000 !important;
}


button.navbar-toggler {
	display: block;
	color: #FFFFFF;
	border: 0;
	margin-left: 1rem;
	padding-bottom: 0.5rem;
	/* width: 100%; */
}

.nav-item:hover, .navbar-toggler:hover, .nav-item:focus {
	color: #F55000;
	border-bottom: 1px solid #F55000;
}

.nav-link:visited, .nav-link:active, .nav-link:focus {
	color: inherit !important;
	text-decoration: none;
}

.fa-brands {
	color: inherit;
}

.fa-bars, .nav-link, .nav-link:hover {
	text-align: center;
	color: inherit;
}

/**********************************
* MAIN
**********************************/
.flexbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}



#home-container {
	background-image: url("/images/woman-wearing-black-sports-bra.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	min-height: 400px;
	padding: 0;
}

.bg-trans {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: 100%;
	margin: 0;
	padding: 0;
}

#banner-section {
	min-height: 450px;
	padding: 2rem;
}

.section-heading {
	font-weight: 1000;
	/* font-size: 5rem; */
	padding: 1rem;
	text-align: center;
	/* padding-bottom: 0.5rem; */
}

.section-heading.banner-heading {
	padding-top: 4rem;
	margin-bottom: 4rem;
}

.section-subheading {
	text-align: justify;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	margin-bottom: 0.8rem;
}
.section-content {
	text-align: justify;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	margin-bottom: 0.5rem
}

.link, .link:hover, .link:visited, .link:focus {
	font-weight: 900;
	color: #F55000;
	text-decoration: none;
}

.btn-container {
	margin-top: 1rem;
	padding-bottom: 2rem;
}

#banner-btn {
	display: block;
	font-size: 2rem;
	width: 210px;
	margin: 2rem auto;
}

#banner-btn:hover {
	background-color: #FFFFFF;
	color: #F55000;
}

/**********************************
* TESTIMONIAL
**********************************/

#testimonial-section {
	width: 100%;
	min-height: 300px;
	color: #FFFFFF;
	padding-top: 2rem;
	padding-bottom: 2rem;
	/* padding: 1rem; */
}

.bg-trans-90 {
	background-color: rgba(0, 0, 0, 0.9);
	background-size: contain;
}

.testimonial-container {
	border: 1px solid white;
	height: 500px;
}

.testimonial-heading {
	color: #F55000;
	text-align: center;
}

.testimonial-text {
	/* color: #000000; */
	font-size: 1.1rem;
	font-style: italic;
	text-align: justify;
	line-height: 1.3;
	margin-bottom: 1.5rem;
}

.profile-image {
	display: block;
	width: 68px;
	height: 68px;
	overflow: hidden;
	border-radius: 100%;
	margin: 20px auto;
	border: 1px solid #F55000;
}

.profile-image img {
	height: 100%;
	object-fit: cover;
}

.testimonial-image {
	width: 100%;
}

.carousel-item.container-fluid {
	/* padding: 7% 15%; */
	text-align: center;
	height: 400px;
}

.nice-padding {
	padding: 7% 15%;
}

.profile em {
	font-size: 1.1rem;
	text-align: center;
	/* line-height: 50px; */
}

#testimonial-section .fa-solid {
	color: #F55000;
	font-size: 1.2rem;
}

/***************************
* Contacts
***************************/
#contacts-section {
	background-color: #000000;
	width: 100%;
	color: #FFFFFF;
	padding-top: 5rem;
}

.con-sec {
	height: 200px;
	/* padding: 2rem; */
	color: #FFFFFF;
	margin-bottom: 1.5rem;
}

.con-title {
	font-weight: 1000;
	margin-bottom: 2rem;
	color: inherit;
}

.con-contents {
	font-size: 1rem;
	font-weight: 200;
	line-height: 2.0;
}

.con-contents a {
	color: #FFFFFF;
}

.con-contents a:hover, .con-contents a:visited, .con-contents a:hover, .con-contents a:focus {
	color: #FFFFFF;
	font-weight: 700;
}

.con-contents .fa-solid {
	color: #FFFFFF;
}

/*****************************
* ABOUT US
*****************************/
#about-container {
	background-image: url("/images/man-working-out.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 400px;
	padding: 0;
}

#video-section {
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.embedded-item {
	width: 100%;
}


/*******************************
* FEATURES
*******************************/
#features-section {
	background-color: #000000;
	background-size: cover;
	padding: 2rem;
}

.feature-item {
	padding: 4.5%;
}

.feature-title {
	font-size: 1.5rem;
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 0.5rem;
}

.feature-content {
	font-size: 1rem;
	text-align: center;
	line-height: 1.5;
	font-weight: 200;
}

.icon {
	display: block;
	text-align: center;
	color: #F55000;
	font-size: 4rem;
	margin: 1rem auto;
}

.icon:hover {
	color: #FFFFFF;
}

/**********************************
* ABOUT-SOCIALS
**********************************/
#about-socials-section {
	min-height: 300px;
	padding: 5rem 2rem;
}

.social-icon {
	display: block;
	text-align: center;
	color: #F55000;
	font-size: 4rem;
	margin: 1rem auto;
}

i.fa-brands.social-icon:hover {
	color: #FFFFFF !important;
}

.socials-content {
	text-align: center;
	color: #FFFFFF;
}

.socials-content .link {
	color: #FFFFFF;
}

/**************************************
* SERVICES PAGE
**************************************/
#services-container {
	background-image: url("/images/woman-lifting-barbell.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 600px;
	padding: 0;
}

#services-heading-section {
	height: 400px;
	padding: 2rem;
}

#services-offering-section {
	min-height: 400px;
}

.offering-item {
	padding: 1rem;
	margin-bottom: 2rem;
}

.offering-item:hover {
	outline: 6px solid #F55000;
}

.offering-title {
	color: #FFFFFF;
	font-weight: 700;
	padding-left: 1rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.offering-features {
	list-style: none;
}

.offering-features li{
	font-weight: none;
	padding-left: 1rem;
	padding-bottom: 1.5rem;
	font-size: 1rem;
	font-weight: 200;
}

.bg-trans-75 {
	background-color: rgba(0,0,0,0.75);
}

.offering-button {
	text-align: center;
	display: block;
	width: 150px;
	padding: 0.9rem;
	border-radius: 50px;
	margin: 2rem auto;
	color: #FFFFFF;
	font-weight: 600;
	border: 2px solid #FFFFFF;
}

.offering-button:hover {
	background-color: #FFFFFF;
	color: #000000;
}


/****************************************
* CLASSES
****************************************/
#classes-container {
	background-image: url("/images/man-holding-black-dumbbell.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 768px;
	/* padding: 0;

	margin-bottom: 0; */
}

#classes-heading-section {
	min-height: 768px;
	padding: 2rem;
}

.classes-subheading {
	margin-top: 1.5rem;
	font-size: 1.25rem;
	text-align: justify;
}

#classes-list-section {
	padding-top: 2rem;
}

#classes-list-section .section-heading {
	padding: 2rem 2rem;
	text-align: center;
}
#classes-list-section .section-subheading {
	display: none;
	padding: 1rem 2rem;
	font-size: 0.9rem;
	font-style: italic;
	font-weight: 200;
}

/* #classes-list-section .section-heading {
	margin-bottom: 3rem;
} */

.classes-item {
	width: 100%;
	padding: 1rem;
	margin-bottom: 2rem;
	min-height: 200px;
	position: relative;
}

.wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.classes-item .wrapper {
	height: 230px;
}

.classes-item .slide-in {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.classes-title {
	font-weight: 700;
	font-size: 1.35rem;
	line-height: 1.5;
	margin-bottom: 0.5rem;
	background-color: rgba(0, 0, 0, .95);
}

.classes-description {
	font-size: 0.9rem;
	font-weight: 700;
	font-style: italic;
}

.classes-item .wrapper .classes-img {
	width: 100%;
}

.schedule-list {
	color: #FFFFFF;
	list-style-type: none;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.schedule-list li {
	line-height: 1.5;
}

.book-classes-button {
	text-align: center;
	display: block;
	width: 125px;
	padding: 0.75rem;
	font-size: 0.75rem;
	border-radius: 50px;
	margin: 0.5rem auto;
	color: #FFFFFF;
	font-weight: 600;
	border: 2px solid #FFFFFF;
}

.book-classes-button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

/*************************************
* TEAM
*************************************/
#team-container {
	background-image: url("/images/man-doing-boxing.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right;
	min-height: 580px;
}

#team-heading-section {
	min-height: 500px;
	padding-top: 4rem;
}

#team-listing-section {
	min-height: 580px
}

.team-item {
	padding: 1.3rem;
	/* height: 368px; */
	/* overflow: hidden; */
}

.team-item .wrapper {
}

.team-item .wrapper .team-img {
	width: 100%;
}

.team-item .team-brief {
	color: #FFFFFF;
	text-align: left;
	padding: 0.5rem;
	position: relative;
}

.team-item .team-brief .team-name {
	color: inherit;
	margin-bottom: 0.5rem;
}

.team-item .team-brief .team-spec {
	color: inherit;
	font-style: italic;
	margin-bottom: 1.8rem;
}

.team-item .team-brief .team-desc {
	font-weight: 200;
	font-style: italic;
	font-size: 0.85rem;
	text-align: justify;
	line-height: 1.6;
	margin-bottom: 1.34rem;
}

.team-item .team-brief .team-book-button {
	display: block;
	width: fit-content;
	padding: 0.85rem;
	margin: 0.85rem auto;
	font-weight: 700;
	font-size: 0.9rem;
	text-align: center;
	color: #FFFFFF;
	border-radius: 50px;
	border: 3px solid #FFFFFF;
}

.team-item .team-brief .team-book-button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

@media screen and (min-width: 576px) {
	#fixed-navbar {
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 90;
	}

	.navbar-brand {
		width: 30%;
		/* outline: 1px solid white; */
		display: inline-block;
	}

	#signup-wrapper {
		padding: 1.5rem;
		margin-left: auto;
	}

	.navbar #signup-btn {
		padding: 1rem;
		font-size: 1rem;
	}

	.testimonial-text {
		font-size: 1.5rem;
	}
	.profile em {
		font-size: 1.3rem;
	}

	#services-heading-section {
		padding: 4rem;
	}


}

@media screen and (min-width: 768px) {
	.navbar-brand {
		width: 30%;
		/* outline: 1px solid white; */
		display: inline-block;
	}

	#signup-wrapper {
		padding: 1.5rem;
		margin-left: auto;
	}

	/* #signup-btn {
		display: inline-block;
	} */

	.navbar-toggler {
		display: inline-block;
		margin-right: 1rem;
	}

	.testimonial-text {
		font-size: 1.75rem;
	}
	.carousel-item.container-fluid {
		height: 450px;
	}
	.feature-title {
		height: 50px;
	}

	#classes-list-section {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.classes-item {
		height: 500px;
		margin-bottom: 2rem;
	}

	.classes-item .slide-in .book-classes-button {
		position: absolute;
		width: 33%;
		bottom: 1rem;
		left: 33%;
	}

	.team-item .wrapper {
		width: 49%;
		display: inline-block;
		margin-right: 0.5%;
		height: 420px;
		vertical-align: top;
	}

	.team-item .team-brief {
		width: 49%;
		display: inline-block;
		margin-left: 0.5%;
		height: 420px;
	}

	.team-item .team-brief .team-desc {
		height: 63%;
		overflow: auto;
		/* outline: 1px solid white; */
	}

	.team-item .team-brief .team-book-button {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0 auto;
	}
}

@media screen and (min-width: 992px)
{
	.navbar-brand {
		width: auto;
	}
	#brand-image {
		width: 260px;
	}

	#home-container {
		/* margin-top: 125px; */
		background-size: 100% auto;
		background-attachment: fixed;
		min-height: 674px;
	}

	#video-section {
		min-height: 678px;
	}

	#banner-section {
		min-height: 768px;
		/* padding: 1rem; */
	}

	#banner-section .section-heading {
		margin-left: 0;
		margin-top: 2rem;
		margin-bottom: 1.2rem;
		padding-left: 20px;
		text-align: left;
		width: 50%;
		max-width: 600px;
	}

	#banner-section .section-subheading {
		padding-left: 25px;
		text-align: left;
		font-size: 1.2rem;
		width: 50%;
		max-width: 600px;
	}

	.btn-container {
		padding-left: 25px;
		width: 50%;
		max-width: 600px;
	}

	.btn-container #banner-btn {
		margin: 0;
		font-size: 2rem;
	}

	.testimonial-text {
		text-align: center;
		font-size: 2.2rem;
		margin-bottom: 3rem;
	}
	.profile em {
		font-size: 1.5rem;
	}

	.profile-image {
		width: 90px;
		height: 90px;
	}

	.carousel-item.container-fluid {
		height: 600px;
	}

	#services-heading-section {
		min-height: 400px;
		padding: 6rem;
	}

	#services-offering-section {
		padding-bottom: 9rem;
	}

	.offering-features {
		height: 320px;
	}

	.offering-title {
		height: 52px;
		/* outline: 1px solid white; */
	}

	.classes-heading {
		padding-left: 1rem;
		padding-top: 4rem;
		margin-bottom: 2rem;
		width: 50%;
		text-align: left;
	}

	.classes-subheading {
		padding-left: 1rem;
		width: 50%;
		text-align: left;
	}

	#classes-list-section .section-heading {
		text-align: left;
	}

	#classes-list-section .section-subheading {
		display: block;
	}

	.classes-item {
		padding: 0.75rem;
		margin: 1rem auto;
		width: 412px;
		height: 257px;
		overflow: hidden;
	}

	.classes-item .wrapper {
		height: 100%;
		overflow: hidden;
	}

	.classes-item .wrapper .classes-img {
		position: absolute;
		bottom: 0;
	}

	.classes-item .slide-in {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		/* padding: 4px; */
	}

	.classes-item .slide-in .book-classes-button {
		display: none;
	}

	.classes-item .slide-in .classes-title {
		top: 0;
		text-align: center;;
		margin: 0;
		padding-bottom: 0;
		/* margin-bottom: 0.75rem; */
	}

	.classes-item .slide-in .classes-description {
		display: none;
	}

	.classes-item .slide-in .schedule-list {
		display: none;
		padding-left: 1rem;
	}

	.classes-item:active .slide-in, .classes-item:hover .slide-in {
		position: absolute;
		top: 224px;
		height: 100%;
		transform: translate(0, -224px);
		transition: 0.5s ease;
	}
	.classes-item:active .slide-in .classes-description, .classes-item:hover .slide-in .classes-description {
		display: block;
		padding: 0.25rem 0.75rem;
		text-align: center;
	}

	.classes-item:active .slide-in .book-classes-button, .classes-item:hover .slide-in .book-classes-button {
		display: block;
		position: absolute;
		width: 33%;
		left: 33%;
		bottom: 0.6rem;
	}

	.classes-item:active .slide-in .schedule-list, .classes-item:hover .slide-in .schedule-list {
		display: block;
	}

	.team-item {
		position: relative;
		padding: 0.75rem;
		overflow: hidden;
		width: 412px;
		height: 659px;
		margin: 3rem auto;
	}

	.team-item .wrapper {
		width: 100%;
		height: 100%;
	}

	.team-item .wrapper .team-img {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	.team-item .team-brief {
		background-color: rgba(0,0,0,0.75);
		width: 100%;
		position:absolute;
		padding-top: 0.4rem;
		left: 0;
		bottom: 0;
		right: 0;
		height: fit-content;
	}

	.team-item .team-brief .team-name, .team-item .team-brief .team-spec {
		display: block;
	}

	.team-item .team-brief .team-book-button {
		display: none;
	}


	.team-item .team-brief .team-desc {
		display: none;
		padding-right: 1.50rem;
		font-size: 1rem;
		/* outline: 1px solid white; */
		height: 70%;
	}

	.team-item:active .team-brief, .team-item:hover .team-brief {
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		top: 568px;
		transform: translate(0, -568px);
		transition: 0.75s ease;
	}

	.team-item:active .team-brief .team-book-button, .team-item:hover .team-brief .team-book-button {
		display: block;
		bottom: 0.75rem;
		right: 0.75rem;
	}

	.team-item:active .team-brief .team-desc, .team-item:hover .team-brief .team-desc {
		display: block;
	}
}

@media screen and (min-width: 1200px) {
	#brand-image {
		width: 325px;
	}

	.offering-title {
		height: auto;
		font-size: 1.75rem;
		/* outline: 1px solid white; */
	}

	.classes-item {
		width: 360px;
		height: 225px;
	}

	.classes-item:active .slide-in, .classes-item:hover .slide-in {
		position: absolute;
		top: 192px;

		transform: translate(0, -192px);
		transition: 0.5s ease;
	}

	.team-item {
		width: 360px;
		height: 576px;
	}

	.team-item:active .team-brief, .team-item:hover .team-brief {
		position: absolute;
		top: 485px;

		transform: translate(0, -485px);
		transition: 0.5s ease;
	}
}
